body {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 60%;
    min-width: 600px;
    margin: 0 auto;
}

h4 {
    padding-left: 20px;
    border-left: 5px solid #666;
    margin: 0 0 20px;
}

.wrapper {
    width: 100%;
    min-width: 600px;
    /* height: 400px; */
    background: #cacaca;
    margin: 25px 0;
}

.info_wrapper {
    position: relative;
    height: auto;
    padding-bottom: 50px;
}

.container_book_contents {
    width: auto;
    height: auto;
    padding: 15px;
}


.book_img {
    background: #eee;
    width: 300px;
    height: calc(300px * 1.14142);
    float: left;
    margin: 0 20px;
}

.book_info {
    display: inline-block;
    background: #ddd;
    width: 490px;
    height: calc(300px * 1.14142);
    margin-left: 20px;
}

.book_info ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.book_info h2 {
    margin : 0 0 12px;
    padding-left: 10px;
}

.book_info li {
    margin-bottom: 12px;
    padding-left: 10px;
}

.book_info li p {
    display: inline-block;
    width: 140px;
    margin: 0;
}

.book_info li span {
    /* display: none; */
    margin: 0;
}

.btn_update_info {
    width: auto;
    height: auto;
}

.btn_update_info button {
    /* display: block; */
    width: 120px;
    height: 30px;
    float: right;
    background: #8a8a8a;
    color: #fff;
    border: none;
    margin-right: 5%;
    cursor: pointer;
}






.sr_wrapper {
    height: 180px;
}

.sr_container {
    width: auto;
    height: auto;
}

.sr_container2 {
    display: none;
    width: auto;
    height: auto;
}

.sr_box {
    width: 90%;
    height: 80px;
    margin: 0 auto;
    background: #bbb;
    text-align: center;
    line-height: 80px;
    display: flex;
    justify-content: space-between;
}


.sr_box ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.sr_box li {
    opacity: 0;
    margin: 0;
    padding: 0;
}


.sr_box .btn {
    background: transparent;
    font-size: 24px;
    display: inline-block;
    border: 0;
    cursor: pointer;
}

.sr_box p {
    padding: 0;
    margin: 0;
    font-size: 24px;
    display: inline-block;
}


.sr_box2 {
    width: 90%;
    height: 80px;
    margin: 0 auto;
    background: #bbb;
    text-align: center;
    line-height: 80px;
}

.sr_box2 .sr_ipt {
    width: 500px;
    height: 40px;
    padding: 0 10px;
}


.btn_write {
    display: block;
    /* float: right; */
    width: 120px;
    height: 30px;
    float: right;
    background: #8a8a8a;
    color: #fff;
    border: none;
    margin-right: 5%;
    margin-top: 12px;
    cursor: pointer;
}

.btn_update {
    display: block;
    width: 120px;
    height: 30px;
    float: right;
    background: #8a8a8a;
    color: #fff;
    border: none;
    margin-right: 2%;
    margin-top: 12px;
    cursor: pointer;
}

.btn_regist {
    display: block;
    width: 120px;
    height: 30px;
    float: right;
    background: #8a8a8a;
    color: #fff;
    border: none;
    margin-right: 2%;
    margin-top: 12px;
    cursor: pointer;
}

.btn_cancel {
    display: block;
    width: 120px;
    height: 30px;
    float: right;
    background: #8a8a8a;
    color: #fff;
    border: none;
    margin-right: 5%;
    margin-top: 12px;
    cursor: pointer;
}

.mr_wrapper {
    /* height: 620px; */
    height: auto;
    position: relative;
    /* text-align: center; */
    padding-bottom: 60px;
}

.mr_container {
    /* display: none; */
    width: auto;
    height: auto;
}

.mr_container2 {
    display: none;
    width: auto;
    height: auto;
}

.mr_wrapper .mr_board {
    /* width: 650px; */
    width: 90%;
    /* height: 500px; */
    height: auto;
    margin: 0 auto;
    padding: 10px 0 ;
    background: #eaeaea;
    /* display: inline-block; */
    text-align: center;
}

.mr_wrapper table {
    width: 95%;
    margin: 0 auto;
    border: 1px solid;
}

.mr_wrapper .th_no {
    border: 1px solid;
    width: 15%;
}

.mr_wrapper .th_title {
    border: 1px solid;
    width: 70%;
}

.mr_wrapper .th_name {
    border: 1px solid;
    width: 15%;
}

.mr_wrapper td {
    border: 1px solid;
}

.mr_wrapper a {
    display: inline-block;
}

/* .mr_wrapper  */ol {
    padding: 0;
    list-style-type: none;
    display: inline-block;
}

/* .mr_wrapper  */ol li {
    display: inline-block;
    margin: 5px;
}

/* .mr_wrapper  */.paging {
    text-align: center;
}


.btn_write2 {
    display: block;
    width: 120px;
    height: 30px;
    float: right;
    background: #8a8a8a;
    color: #fff;
    border: none;
    margin-right: 5%;
    margin-top: 12px;
    cursor: pointer;
}

.mr_container2 h4 {
    text-align: left;
}


.btn_cancel2 {
    display: block;
    width: 120px;
    height: 30px;
    float: right;
    background: #8a8a8a;
    color: #fff;
    border: none;
    margin-right: 5%;
    margin-top: 12px;
    cursor: pointer;
}


.btn_regist2 {
    display: block;
    width: 120px;
    height: 30px;
    float: right;
    background: #8a8a8a;
    color: #fff;
    border: none;
    margin-right: 2%;
    margin-top: 12px;
    cursor: pointer;
}



.mr_container2 input {
    height: 20px;
    width: 80%;   
    margin-bottom: 12px;
    padding: 5px 10px;
}

.mr_container2 textarea {
    display: inline-block;
    resize: none;
    padding: 5px 10px;
    width: 80%;
}


.bt_wrapper {
    height: auto;
    padding-bottom: 60px;
}

.bt_wrapper .bt_box {
    width: 90%;
    margin: 0 auto;
    height: 300px;
    background: #ededed;
}



.btn_regist3 {
    display: block;
    width: 120px;
    height: 30px;
    float: right;
    background: #8a8a8a;
    color: #fff;
    border: none;
    margin-right: 5%;
    margin-top: 12px;
    cursor: pointer;
}











.reply_wrapper {
    height: auto;
    padding-bottom: 20px;
}

.reply_wrapper textarea {
    display: block;
    margin-bottom: 12px;
    resize: none;
    float: right;
    padding: 5px 10px;
    width: 80%;
}

.reply_list_box {
    background: #ededed;
    width: 90%;
    margin: 15px auto;
    height: 200px;
    
}

.reply_list {
    background: #b9b9b9;
}

.reply_list .reply {
    display: inline-block;
    padding: 8px;
    margin-bottom: 4px;
}

.reply_writer {
    width: 15%;
    border: 1px solid;
}

.reply_content {
    width: 80%;
    border: 1px solid;
}

.reply_content .reply_datetime {
    float: right;
    font-size: 12px;
    color: #5a5a5a;
    line-height: 16px
}

.reply_content .reply_datetime button {
    width: 12px;
    height: 12px;
    border: 0;
    background: #8d8d8d;
    font-size: 8px;
    padding: 0;
    margin: 0;
    cursor: pointer;
}







.reply_box {
    background: #ededed;
    width: 90%;
    margin: 0 auto;
    height: 120px;
}

.reply_write_box {
    padding: 15px;
}

.reply_box .ipt {
    display: block;
}

.reply_box .ipt_reply_pw {
    margin-top: 10px;
}

.reply_box .ipt input {
    width: 110px;
    padding: 0 5px;
    height: 20px;
}

.reply_input_box {
    float: left;
    height: 55px;
    margin-bottom: 15px;
}

.btn_reg {
    width: 120px;
    color: white;
    background: #666;
    border: 0;
    height: 24px;
    float: right;
    cursor: pointer;
}