@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 60%;
    min-width: 600px;
    margin: 80px auto;
}


/* 태블릿, 모바일 */
@media screen and (max-width: 767px) {
    .container {
        width: 98%;
        min-width: unset;
        margin: 40px auto;
    }
}


h4 {
    padding-left: 10px;
    border-left: 4px solid #4F5945;
    margin: 0 0 20px;
}

.wrapper {
    width: 100%;
    min-width: 600px;
    /* background: #cacaca; */
    border-bottom: 1px solid #D8D9D7;
    margin: 25px 0;
}


/* 태블릿, 모바일 */
@media screen and (max-width: 767px) {
    .wrapper {
        min-width: unset;
        /* margin: 25px 0; */
    }
}


.info_wrapper {
    position: relative;
    height: auto;
    padding-bottom: 60px;
    /* background: #cacaca; */
}

.container_book_contents {
    width: auto;
    height: auto;
    padding: 15px 5% 0 5%;
}

@media screen and (max-width: 1400px){
    .container_book_contents {
        width: auto;
        height: auto;
        padding: 0;
        margin: 0 auto;
        margin-top: 20px;
    }
}

.book_img {
    /* background: #eee; */
    width: 250px;
    height: calc(250px * 1.14142);
    float: left;
    margin: 0px 2.3%;
    text-align: center;
    border-radius: 5px;
}

@media screen and (max-width: 1400px){
    .book_img {
        float: none;
        margin: 0 auto;
    }
}

.book_img img {
    width: auto;
    border-radius: 3px;
    height: 100%;
}

.book_info_wrapper {
    min-width: 527px;
    width: 64.5%;
    border: 1px solid #ccc;
    height: calc(250px * 1.14142);
    border-radius: 5px;
    display: inline-block;
}

@media screen and (max-width: 1400px){
    .book_info_wrapper {
        margin: 0 auto;
        display: block;
        min-width: 540px;
        width: 53vw;
        margin-top: 30px;
        height: auto;
    }
}


@media screen and (max-width: 767px){
    .book_info_wrapper {
        min-width: unset;
        width: 95%;
        /* margin: 0 auto;
        display: block;
        margin-top: 30px;
        height: auto; */
    }
}


.book_info {
    display: inline-block;
    /* background: #ededed; */
    /* width: 573px; */
    width: 100%;
    height: 100%;
    /* border: 1px solid #ccc; */
    /* height: calc(250px * 1.14142); */
    border-radius: 3px;
    /* margin-left: 20px; */
    /* padding: 15px; */
}

.book_info ul {
    list-style-type: none;
    padding: 25px 0;
    margin: 0;
    margin-left: 24px;
}

@media screen and (max-width: 1400px){
    .book_info ul {
        margin: 0 100px;
    }
}


@media screen and (max-width: 767px){
    .book_info ul {
        display: block;
        width: 80%;
        margin: 0 auto;
    }
}

.book_info h2 {
    padding-left: 10px;
    margin-bottom: 4px;
}

.book_info .book_idx {
    display: none;
}

.book_info li {
    /* margin-bottom: 12px; */
    padding-left: 10px;
    font-size: 12px;
}

.book_category {
    color: #5D84A6;
    font-size: 12px;
    margin-bottom: 15px;
}

.book_desc {
    margin-bottom: 30px;
}

.book_author, .book_translator, .book_publisher, .book_publishDate, .book_btDate {
    margin-bottom: 8px;
}


.book_info li p {
    display: inline-block;
    width: 140px;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .book_info li p {
        width: 100px;
    }
}

.book_info li span {
    /* display: none; */
    margin: 0;
}

.btn_update_info {
    width: auto;
    height: auto;
}

.btn_update_info .btn_updateBook {
    margin-right: 5%;
}






.sr_wrapper {
    height: 180px;
}

.sr_container {
    width: auto;
    height: auto;
}

.sr_container2 {
    display: none;
    width: auto;
    height: auto;
}

.sr_container3 {
    display: none;
    width: auto;
    height: auto;
}

.sr_container ul p {
    font-size: 14px;
    line-height: 80px;
    color: #5a5a5a;
}

.sr_box {
    width: 95%;
    height: 80px;
    margin: 0 auto;
    /* background: #ededed; */
    border: 1px solid #ccc;
    text-align: center;
    /* line-height: 80px; */
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    align-items: center;
}


.slider {
    /* overflow: hidden; */
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 90%;
    height: 100%;
    /* line-height: 80px; */
    position: relative;
}

.slider li {
    opacity: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    display: inline-block;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
}

.slider strong {
    padding: 0;
    margin: 0;
    font-size: 24px;
    width: 100%;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@media screen and (max-width: 1400px){
    .slider strong {
        font-size: 20px;
    }
}

@media screen and (max-width: 767px){
    .slider strong {
        font-size: 14px;
    }
}


.slider em {
    padding: 0;
    margin: 0;
    font-size: 12px;
    /* line-height: 12px; */
    display: inline-block;
    position: absolute;
    bottom: 10%;
    right: 15%;
}

.sr_box .btn {
    /* background: transparent; */
    font-size: 24px;
    display: inline-block;
    /* border: 0; */
    cursor: pointer;
    width: 12px;
    height: 14px;
    background-size: 100%;
}

.btn_left {
    background: url(left.svg) no-repeat;
}

.btn_right {
    background: url(right.svg) no-repeat;
}

.sr_box2 {
    width: 95%;
    height: 80px;
    margin: 0 auto;
    /* background: #ededed; */
    text-align: center;
    line-height: 80px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.sr_box3 {
    width: 95%;
    height: 80px;
    margin: 0 auto;
    /* background: #ededed; */
    text-align: center;
    border: 1px solid #ccc;
    line-height: 80px;
    border-radius: 5px;
}

.sr_box2 .sr_ipt {
    width: 500px;
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #8d8d8d
}

@media screen and (max-width: 767px) {
    .sr_box2 .sr_ipt {
        width: 90%;
    }
    
}

.sr_box2 .sr_ipt:focus {
    outline: 1.5px solid #ccc;
    border-radius: 5px;
}

.sr_box3 .sr_ipt2 {
    width: 500px;
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #8d8d8d
}


@media screen and (max-width: 767px) {
    .sr_box3 .sr_ipt2 {
        width: 90%;
    }
    
}

.sr_box3 .sr_ipt2:focus {
    outline: 1px solid #ccc;
    border-radius: 5px;
}

.btn_write {
    margin-right: 5%;
}

.btn_update {
    margin-right: 2%;
}

@media screen and (max-width: 767px) {
    .btn_update {
        font-size: 11px;
    }
}

.btn_regist {
    margin-right: 2%;
}

.btn_cancel {
    margin-right:  5%;
}

.btn_delete5 {
    margin-right: 2%;
}

.btn_regist4 {
    margin-right: 2%;
}

.btn_cancel7 {
    margin-right: 5%;
}



.mr_wrapper {
    height: auto;
    position: relative;
    padding-bottom: 60px;
}

.mr_container {
    width: auto;
    height: auto;
}

.mr_container2 {
    display: none;
    width: auto;
    height: auto;
}

.mr_wrapper .mr_board {
    width: 95%;
    height: auto;
    margin: 0 auto;
    /* background: #ededed; */
    /* display: inline-block; */
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    padding: 10px 0;
}

.mr_board h5 {
    padding-left: 8.5%;
    text-align: justify;
    margin-bottom: 6px;
}

.mr_wrapper table {
    /* background-color: #ededed; */
    color: #5a5a5a;
    font-size: 14px;
    width: 100%;
    margin: 0 auto;
    /* border: 1px solid #ccc; */
    border-radius: 3px;
}

.mr_wrapper th {
    border-bottom: 1px solid #ccc;
    font-weight: normal;
}

.mr_wrapper .th, td {
    /* border: 1px solid black; */
    padding-top: 2px;
    padding-bottom: 2px;
}

.mr_wrapper td:last-child {
    font-size: 12px;
}

.mr_wrapper .th_name {
    min-width: 85px;
    width: 15%;
}

.mr_wrapper .th_title {
    width: 65%;
}

.mr_wrapper .th_date {
    width: 20%;
}

/*  */
@media screen and (max-width: 767px) {
    .mr_wrapper table {
        width: 100%;
    }

    .mr_wrapper .th_date, .th_title, .th_name, .td_date, td:nth-child(2) {
        display: none;
    }    

    /* .mr_wrapper .mr_board {
        padding: 0;
    } */
}

.mr_wrapper .td_title {
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}

.mr_wrapper .td_title span {
    display: inline-block;
    min-width: 300px;
    width: 30vw;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
} 

@media screen and (max-width: 767px) {   
    .mr_wrapper .td_title {
        padding: 0;
        padding-left: 16px;
        height: 30px;
        /* border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc; */
        /* background: #ccc; */
        /* text-align: center; */
    } 

    .mr_wrapper .td_title:active {
        background: #ccc;
    }
    .mr_wrapper .td_title span {
        min-width: unset;
        width: 90%;
    }
}

.mr_wrapper .td_title span:hover {
    text-decoration: underline;
}
.mr_wrapper a {
    display: inline-block;
}

.mr_wrapper ol {
    padding: 0;
    list-style-type: none;
    display: inline-block;
}

.mr_wrapper ol li {
    display: inline-block;
    margin: 5px;
}

.paging {
    text-align: center;
    display: none;
}


.btn_write2 {
    margin-right: 5%;
}

.mr_container2 h4 {
    text-align: left;
}


.btn_cancel2 {
    margin-right: 5%;
}


.btn_regist2 {
    margin-right: 2%;
}



.mr_container2 input {
    border: 1px solid #ccc;
    height: 20px;
    width: 80%;   
    margin-bottom: 12px;
    padding: 5px 10px;
}

/* .mr_container2  */input:focus, textarea:focus {
    outline: 1px solid #aaa;
}


.mr_container2 textarea {
    border: 1px solid #ccc;
    display: inline-block;
    resize: none;
    padding: 5px 10px;
    width: 80%;
}

.mr_container3 {
    display: none;
    width: auto;
    height: auto;
}

.mr_container3 .detail {
    border: 1px solid #ccc;
    height: auto;
    width: 99.5%;   
    margin: 0 auto 5px auto;
    /* padding: 5px; */
    /* background: #f2f2f2; */
    text-align: left;
    font-size: 14px;
}

.cn12, .cn3 {
    display: inline-block;
    width: 45%;
    min-width: 240px;
}

.cn {
    display: inline-block;
    width: 6vw;
    min-width: 50px;
    height: 24px;
    background: #eaeaea;
    padding: 5px 10px;
    line-height: 24px;
}

.cn_user, .cn_dt {
    display: inline-block;
    width: 10vw;
    min-width: 120px;
    height: 24px;
    padding: 5px 10px;
    line-height: 24px;
}


.cn_ttl {
    display: inline-block;
    width: 72%;
    height: 24px;
    padding: 5px 0px 5px 10px;
    line-height: 24px;
}

@media screen and (max-width: 767px) {
    .mr_container3 .detail {
        font-size: 12px;
    }
}


.mr_container3 .detail_mr_content {
    height: auto;
    min-height: 250px;
}

.cn_ct {
    padding: 15px 25px;
    min-height: 300px;
    white-space: pre-wrap;
    line-height: 200%;
}


@media screen and (max-width: 767px) {
    .mr_container3 .cn_ct {
        padding: 15px;
    }
}

.mr_container3 textarea {
    display: inline-block;
    resize: none;
    padding: 5px 10px;
    width: 80%;
}

.btn_cancel3 {
    margin-right: 5%;
}

.btn_update2 {
    margin-right: 2%;
}

.btn_delete6 {
    margin-right: 2%;
}

.mr_container4 {
    display: none;
    width: auto;
    height: auto;
}

.mr_container4 h4 {
    text-align: left;
}

.btn_update5 {
    margin-right: 2%;
}



.mr_container4 input {
    height: 20px;
    width: 80%;   
    margin-bottom: 12px;
    padding: 5px 10px;
}

.mr_container4 textarea {
    display: inline-block;
    resize: none;
    padding: 5px 10px;
    width: 80%;
}

.bt_wrapper {
    height: auto;
    padding-bottom: 60px;
}

.bt_wrapper .bt_box {
    margin: 0 auto;
    height: 300px;
    background: #ededed;
}

.bt_container {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    /* line-height: 260px; */
    background: #ededed;
    border-radius: 3px;
    text-align: left;
}

.bt_writer {
    display:none;
}

.bt_desc {
    display: block;
    padding: 15px;
    white-space: pre-wrap;
    height: 300px;
    overflow-y: scroll;
    font-size: 13px;
    line-height: 175%;
    border-radius: 3px;
}

.bt_desc p {
    color: #5a5a5a;
}

.bt_container2 {
    display: none;
    width: 95%;
    height: auto;
    margin: 0 auto;
    background: #ededed;
    text-align: center;
    padding: 20px 10px 55px 10px;
}

.bt_container2 input {
    height: 20px;
    width: 90%;   
    margin-bottom: 12px;
    padding: 5px 10px;
}

.bt_container2 textarea {
    display: inline-block;
    resize: none;
    padding: 5px 10px;
    width: 90%;
    height: 300px;
}

.btn_update3 {
    margin-right: 2%;
}

.btn_regist3 {
    margin-right: 2%;
}

.bt_container3 {
    display: none;
    width: 90%;
    height: auto;
    margin: 0 auto;
    background: #eaeaea;
    text-align: center;
    padding: 20px 10px 55px 10px;
}

.bt_container3 input {
    height: 20px;
    width: 90%;   
    margin-bottom: 12px;
    padding: 5px 10px;
}

.bt_container3 textarea {
    display: inline-block;
    resize: none;
    padding: 5px 10px;
    width: 90%;
    height: 300px;
}

.btn_update4 {
    margin-right: 2%;
}

.btn_delete4 {
    margin-right: 2%;
}


.reply_wrapper {
    height: auto;
    padding-bottom: 20px;
}

.reply_wrapper textarea {
    display: block;
    margin-bottom: 12px;
    resize: none;
    float: right;
    padding: 5px 10px;
    width: 80%;
}

.reply_list_box {
    /* background: #ededed; */
    width: 95%;
    margin: 15px auto 0 auto;
    height: auto;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

@media screen and (max-width:767px) {
    .reply_list_box {
        text-align: justify;
    }

    .reply_list_box p {
        font-size: 0.7rem;
        color: #4F5945;
        padding-bottom: 5px;
    }
}
.reply_list_box p {
    font-size: 14px;
}

.reply_list {
    /* background: #b9b9b9; */
    display: flex;
    justify-content:space-evenly;
    font-size: 14px;
    line-height: 12px;
    text-align: justify;
}

.reply_list .reply {
    display: inline-block;
    padding: 5px 5px 5px 10px;
    /* margin-bottom: 4px; */
}

.reply_writer {
    width: 18%;
    min-width: 100px;
    border-top: 1px solid #ccc;
    /* border-bottom: 1px solid #ccc; */
    line-height: 22px;
}

.reply_writer2 {
    display: inline-block;
    padding: 0 0 5px 5px;
    font-size: 0.75rem;
    color: #4F5945;
}

.reply_writer2:after {
    content: "|";
}

.reply_content {
    width: 66%;
    border-top: 1px solid #ccc;
    /* border-bottom: 1px solid #ccc; */
    line-height: 20px;
}

.reply_content2 {
    width: calc(100%-10px);
    border-top: 1px solid #ccc;
    font-size: 0.9rem;
    padding: 5px;
}

.reply_content span {
    vertical-align: middle;
    white-space: pre-wrap;
    display: inline;
}

.reply_datetime_container .reply_datetime {
    /* float: right; */
    display: inline-block;
    font-size: 10px;
    color: #5a5a5a;
}

.reply_datetime_container2 {
    display: inline-block;
    font-size: 0.75rem;
    color: #4F5945;
}

.reply_datetime_container {
    width: 16%;
    min-width: 120px;
    border-top: 1px solid #ccc;
    /* border-bottom: 1px solid #ccc; */
    line-height: 20px;
    /* margin-bottom: 4px; */
    padding: 5px 10px;
    display: flex;
    justify-content: flex-end;
}

.btn_x {
    width: 10px; 
    height: 10px;
    border: 0;
    background: #96A9C7;
    font-size: 8px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    border-radius: 2px;
}
/* 
.reply_datetime2 {
    display: none;
    float: right;
    color: #5a5a5a;
    line-height: 16px;
    width: 120px;
    text-align: right;
}

.reply_datetime2 input {
    width: 60px;
    font-size: 8px;
}

.reply_datetime2 input::placeholder {
    font-size: 8px;
}

.reply_datetime2 .btn_delete3 {
    width: 20px;
    font-size: 8px;
    color: white;
    background: #666;
    padding: 0;
    border: 0;
    height: 16px;
    display: inline-block;
    cursor: pointer;
}

.reply_datetime2 .btn_cancel5 {
    width: 20px;
    font-size: 8px;
    color: white;
    background: #666;
    padding: 0;
    border: 0;
    height: 16px;
    display: inline-block;
    cursor: pointer;
}
 */
.pagination_reply {
    /* display: inline-block; */
    display: block;
    width: 90%;
    /* margin: 20px 0; */
    margin: 20px auto;
    /* border-top: 1px solid #ccc; */
    text-align: center;
}

.reply_box {
    background: #ededed;
    width: 95%;
    margin: 0 auto;
    border-radius: 3px;
    height: 125px;
}

.reply_write_box {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 95%;
    /* margin-bottom: 15px; */
}

.reply_box .ipt_reply_pw {
    margin-top: 12.5px;
}

.reply_input_box {
    width: 16%;
    height: 55px;
}

.reply_input_box input {
    width: 100%;
}

.reply_textarea_box {
    width: 80%;
}

.reply_textarea_box textarea {
    width: 97%;
    padding: 5px 0 5px 10px;
    margin: 0;
}

.btn_reg {
    margin-right: 2.5%;
}



.button {
    display: block;
    width: 120px;
    height: 30px;
    float: right;
    background: #93A6BF;
    color: #fff;
    border: none;
    border-radius: 3px;
    margin-top: 12px;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .button {
        width: 80px;
        height: 20px; 
        font-size: 12px;
    }
}

.button:hover {
    background: #5D84A6;
    font-weight: 600;
    transition: 0.2s  ease-in-out;
}
    
.button:not(hover) {
    transition: 0.2s  ease-in-out;
}