#footer {
    padding: 20px 0;
    width: 100%;
    font-size: 14px;
    word-break: break-word;
    background-color: #eee;
}
.footer_top {
    margin-bottom: 20px;
}
.footer_container{
    /* padding-right: 15px;
    padding-left: 15px; */
    margin:0 auto;
    width: 60%;
}
.footer_content {
    font-size: 12px;
}
.footer_link{
    margin-bottom: 5px;
}