@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

*{ padding: 0;margin: 0;}

body{
    overflow-x:hidden; overflow-y:auto;
}

li{
    list-style: none; 

}

.book_list
    {
    /* width: 62em; */
    /* width: 70%; */
    width: 990px;
    /* width: 62rem; */
    margin: 50px auto;
    overflow: hidden;
    }

h3{
    padding: 30px 0;
    font-size: 44px; 
    /* width: 100%; height: 50px; */
    text-align: center;
    font-family: 'Nanum Myeongjo', serif;
    /* width: 70vw; */
    margin: 0;
}

.list_title{
    text-align: center;
    font-family: 'Nanum Myeongjo', serif;
    line-height: 180%;
    display: block;
    /* margin: -3px auto; */
    margin-bottom: 36px;
    /* width: 65%; */
    /* width: 70vw; */
   

} 

li{
    float: left;
    width: 250px; height: 370px;
    margin: 40px;
}

a {
    height: 100%;
    /* overflow: hidden; */
    position: relative; 
}

figure{
   width: 100%; height: 100%;
}

figcaption{
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute; 
    top: 0; left: 0;
    color: #fff; text-align: center;
    line-height: 25px;
    opacity: 0; 
    transition: 0.3s;
    font-family: 'Nanum Myeongjo', serif;
    border-radius: 5px;
}

a:hover figcaption, .gallery a:focus figcaption{
    opacity: 1;
}

.btn-wrap {
    /* position: relative; */
    display: flex;
    justify-content: right;
    text-align: center;
    /* margin: 30px auto; */
    width: 990px;
    height: 40px;
    /* padding: 0 40px; */
    width: 100vw;
    margin: 0;
    margin-bottom: 40px;
}

.btn-wrap2 {
    /* width: 60%; */
    width: 41%;
    height: 40px;
}

#list_load_contain{
    display: none;
}

.list_load.active {
    display: block;
}

.button_decorate{
    border: none;
    height: 40px;
    width: 150px;
    border-radius: 4px;
    background-color: #282828;
    color: white;
    cursor:pointer;

}
/* 
.button{
    display: inline-block;
}
 */
.Book_img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.book_btDate{
    margin-top: 15px;
    display: block;
    height:auto;
}
.book_title{
    font-size: 22px;
    height:auto;
    display: block;
    margin-top: 120px;
    /* display: block; */
    /* word-wrap:break-word; */
}
#topButtonImg{
    margin-right: 25px;
    float: right;
    float: bottom;
    width: 60px;
    height: 45px;
    position: fixed;
    right: 20px;
    bottom: 350px;
}

.list_write_button{
    /* position: absolute; */
    float: right;
    /* margin-left: 230px; */
    width: 150px;
    height: 40px;
    border: none;
    background-color: #282828;
    color: white;
    cursor:pointer;
    border-radius: 4px; 
    /* margin-right: 83px; */
    margin-right: 19%;
}        

a.jcm-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    border-radius: 5px;
    color: #ffffff;
    text-align: center;
    width: 45px;
    height: 41px;
    font-size: 40px;
    /* background-color: rgba(50,50,50,0.5); */
    background-color:#323232; opacity:0.5; filter:alpha(opacity=50); /*ie8 호환을 위한코드 위와 동일한 것임 호환필요없으면 한줄로 rgba적으면됨*/
    z-index: 999;
    display: none;
}

@media screen and (max-width:767px){
    .list_title{
        font-size: 13px;
        margin: 0px 15px 30px 15px;
        /* text-align: center;
        font-family: 'Nanum Myeongjo', serif;
        line-height: 180%;
        display: block; */
        /* margin: 0 5px 36px; */

    } 
} 

@media screen and (max-width:767px){
    h3{
        padding: 20px 0;
        font-size: 27px; 
        /* width: 100%; height: 50px; */
        /* text-align: center;
        font-family: 'Nanum Myeongjo', serif; */
        /* width: 100vw; */
        /* margin: 40px; */
    }
} 

@media screen and (max-width:767px){
    .Book_img{
        height: 100vw;
        width: 90%;
        /* align-items: center;
        width: 100%;
        height: 100vw;
        border-radius: 5px; */
    }
} 

@media screen and (max-width:767px){
    li{
        display: contents;
        /* align-items: center;
        display: contents; */
        /* display: flex; */
        /* float: left; */
        /* width: 100%; height: 15rem;
        text-align: -webkit-center;
        margin: 0 0 65px; */
    }

} 

@media screen and (max-width:767px){
    figure{
        margin-bottom: 25px;
        width: 80%; 
        /* height: 100%;
        align-items: center; */
     }

} 

@media screen and (max-width:767px){
    .book_list
    {
        margin: 50px auto;
        width: 100%;
        /* width: 990px; */
        /* width: 62rem; */
        /* margin: 50px auto;
        overflow: hidden;
        text-align: -webkit-center;
        margin-left: 10%; */
    }
} 

/* @media screen and (max-width:767px){
    figcaption{
        opacity: 0;  
        margin-left: 10%;
        width: 80%; height: 100%;
        background-color: rgba(0,0,0,0.7);
        position: absolute; 
        top: 0; left: 0;
        color: #fff; text-align: center;
        line-height: 25px;
        transition: 0.3s;
        font-family: 'Nanum Myeongjo', serif;
        border-radius: 5px; 
    }
}  */

@media screen and (max-width:767px){
    .btn-wrap{
        margin-bottom: 10%;
    }
} 

@media screen and (max-width:767px){
    a:hover figcaption, .gallery a:focus figcaption{
        opacity: 0;
    }
} 
@media screen and (max-width:767px){
    .btn-wrap2{
        
        /* padding-left: 25%; */
        width: 100%;   
    }
}  

@media screen and (max-width:767px){
    .list_load_box{
        text-align: -webkit-center;
    }
} 
@media screen and (max-width:767px){
    .list_write_button{
        position: absolute;
        width: 13%;
        margin-right: 15%
    }
} 
@media screen and (max-width:767px){
    .button_decorate{
        width: 40%;
        /* margin-right: -35%; */
    }
} 

/*-------------------------------*/
/* @media screen and (max-width:950px){
    li{
        float: left;
        width: 195px;
        height: 280px;
        margin: 40px;
    }
} 

@media screen and (max-width:950px){
    h3{
        font-size: 40px;
        margin-right: 16%;
    }
} 

@media screen and (max-width:950px){
    .list_title{
        font-size: 14px;
        margin-right: 16%;
    }
}  */
/* 
767 */