@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

*{ padding: 0;margin: 0;}

li{
    list-style: none; 

}

.book_list
    {
    /* width: 60%;*/
    width: 990px; 
    margin: 50px auto;
    overflow: hidden;
    }

h3{
    padding: 30px 0;
    font-size: 44px; 
    width: 100%; height: 50px;
    text-align: center;
    font-family: 'Nanum Myeongjo', serif;
}

li{
    float: left;
    width: 250px; height: 370px;
    margin: 40px;
}

a{
    height: 100%;
    overflow: hidden;
    position: relative; 
}

figure{
   width: 100%; height: 100%;
}

figcaption{
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute; 
    top: 0; left: 0;
    color: #fff; text-align: center;
    line-height: 25px;
    opacity: 0; 
    transition: 0.3s;
    font-family: 'Nanum Myeongjo', serif;
    border-radius: 5px;
}

a:hover figcaption, .gallery a:focus figcaption{
    opacity: 1;
}

.btn-wrap {
    text-align: center;
    margin: 30px;
}

#list_load_contain{
    display: none;
}
.list_load.active {
    /* display: inline-block; */
    display: block;
}
.button_decorate{
    height: 34px;
    width: 147px;
    border-radius: 4px;
    background-color: #282828;
    color: white;
    cursor:pointer;
}

.button{
    display: inline-block;
}

.Book_img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.book_btDate{
    margin-top: 15px;
    display: block;
    height:auto;
}
.book_title{
    height:auto;
    display: block;
    margin-top: 90px;
    /* display: block; */
    /* word-wrap:break-word; */
}
#topButtonImg{
    margin-right: 25px;
    float: right;
    float: bottom;
    width: 60px;
    height: 45px;
    position: fixed;
    right: 20px;
    bottom: 350px;
}

.list_write_button{
    position: absolute;
    /* float: right; */
    margin-left: 230px;
    width: 147px;
    height: 34px;
    background-color: #282828;
    color: white;
    cursor:pointer;
    border-radius: 4px; 
}        

.list_title{
    text-align: center;
    font-family: 'Nanum Myeongjo', serif;
    line-height: 180%;
    display: block;
    margin: -3px auto;
    margin-bottom: 36px;
    width: 65%;
} 

a.jcm-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    border-radius: 5px;
    color: #ffffff;
    text-align: center;
    width: 45px;
    height: 41px;
    font-size: 40px;
    /* background-color: rgba(50,50,50,0.5); */
    background-color:#323232; opacity:0.5; filter:alpha(opacity=50); /*ie8 호환을 위한코드 위와 동일한 것임 호환필요없으면 한줄로 rgba적으면됨*/
    z-index: 999;
    display: none;
}
