@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

*{ padding: 0;margin: 0;}

li{ list-style: none; }

.book_list
    {
        /* width: 60%;
        min-width: 600px;
        margin: 0 auto; */
        width: 940px; margin: 0 auto;
        overflow: hidden;
    }
    /* width: 940px; margin: 0 auto;
    overflow: hidden; */


h3{
    margin-left: 10px;
    padding: 31px;
    font-size: 44px; 
    width: 93%; height: 50px;
    line-height: 50px; 
    text-align: center;
    font-family: 'Nanum Myeongjo', serif;
}

li{
    float: left;
    width: 255px; height: 295px;
    margin: 35px 28px;
}

a{
    /* display: inline-block; */
    /* display: block; */
    height: 100%;
    overflow: hidden;
    position: relative; 
}

figure{
   width: 100%; height: 100%;
}

figcaption{
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute; 
    top: 0; left: 0;
    color: #fff; text-align: center;
    line-height: 200px;
    opacity: 0; 
    transition: 0.3s;
    font-family: 'Nanum Myeongjo', serif;
    border-radius: 5px;
}

a:hover figcaption, .gallery a:focus figcaption{
    opacity: 1;
}
.btn-wrap {
    text-align: center;
}
/* .list_load {
    display: none;
} */
#list_load_contain{
    display: none;
}


.list_load.active {
    /* display: inline-block; */
    display: block;
}
.button_decorate{
    height: 34px;
    width: 147px;
    border-radius: 4px;
    background-color: #282828;
    color: white;
    cursor:pointer;
}

.button{
    display: inline-block;
}

.Book_img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.book_btDate{
    height:25px;
}
.book_title{
    height:25px;
}
