body {
    font-family: sans-serif;
}

#wrap {
    font-size: 16px;
    word-break: break-word;
    margin: 0 auto;
    width: 60%;
    min-width: 600px;
}

.container {
    padding: 20% 3%;
}

.welcome {
    margin: 25px 0;
}

details {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: .5em .5em 0;
    margin-bottom: 1em;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
    cursor: pointer;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
    background-color: #fff0c0;
    border-radius: 10px 10px 0 0;
}

details div {
    padding: 15px;
    line-height: 200%;
}