a {
    text-decoration: none;
}
#wrap {
    width: 80%;
    height: 52%;
    margin: 4% auto;
    text-align: center;
}
.top {
    margin-bottom: 5vh;
    color: rgb(0, 0, 0);
    text-align: center;
    width: 100%;
    font-size: 4vw;
}
.join_info_warp {
    margin: 0 auto;
    width:50vw;
}
.Email_warp {
    position: relative;
    display: inline-block;
    margin: 0 auto;
}
.btn_Duplicate{
    height: 3.6vh;
    position: absolute;
    top: 0;
    right: 0;
}
.ipt_Email {
    top: 0;
    position: relative;
    width: 30vw;
    height: 3vh;
    margin: 0 auto;
    display: block;
}
input {
    width: 30vw;
    height: 3vh;
    margin: 10px auto;
    display: block;
}

.btn_join  { 
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background: #93A6BF;
    color: #fff;
    width: 30vw;
    height: 4vh;
    margin: 10px auto;
    display: block;
}
.btn_join:hover{
    background: #5D84A6;
    font-weight: 600;
    transition: 0.2s  ease-in-out;
}
input::placeholder{
    padding: 1vw;
}