a{
text-decoration: none;
}

.wrapper {
    width: 80%;
    height: 70%;
    margin: 4% auto;
    text-align: center;
}

.wrapper h1  {
    font-size: 50px;
    text-align:center;
}

.login_container{
    text-align:center;
}

input {
    display: block;
    margin: 20px auto;
    width: 450px;
    height: 80px;
    font-size: 1.5rem;
}

button{
    margin: 6px auto;
}

.btn_login {
    width: 450px;
    height: 80px;
    border-radius: 3px;
    border: 0;
}
.main_btn_login{
    width: 450px;
    height: 80px;
    border-radius: 3px;
    border: 0;
    cursor: pointer;
}
.btn_Pw_change{
    width: 450px;
    height: 80px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    background: #93A6BF;
    color: #fff;
}
.kakao_btn_login{
    background-color: yellow;
}
input::placeholder{
    padding: 6px;
}
.button:hover {
    background: #5D84A6;
    font-weight: 600;
    transition: 0.2s  ease-in-out;
}

@media screen and (max-width:767px){
    input {
        display: block;
        margin: 20px auto;
        width: 80vw;
        height: 6.4vh;
    }
    input::placeholder{
        padding: 1vw;
        font-size: 1em;
    }
    .btn_Pw_change ,.main_btn_login, .kakao_btn_login {
        margin: 6px auto;
        width: 80vw;
        height: 6vh;
    }
    .wrapper {
        height: 70vh;
    }
}