a{
text-decoration: none;
}

.wrapper {
    width: 80%;
    height: 60%;
    margin: 4% auto;
    text-align: center;
}

h1  {
    text-align:center;
}

.login_container{
    text-align:center;
}

input {
    display: block;
    margin: 30px auto 0;
    width: 300px; height: 50px;
}

.btn_login {
    margin-top:10px;
    width: 300px; height: 50px;
    border-radius: 5px;
    border: 0;
}
.main_btn_login{
    margin-top: 10px;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}
.btn_Pw_change{
    background-color: green;
    margin-top: 10px;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}
.kakao_btn_login{
    background-color: yellow;
}
input::placeholder{
    padding: 6px;
}