a{
text-decoration: none;
}

.wrapper {
    width: 80%;
    height: 60%;
    margin: 4% auto;
    text-align: center;
}

h1  {
    text-align:center;
}

.login_container{
    text-align:center;
}

input {
    display: block;
    margin: 20px auto;
    width: 300px;
    height: 50px;
}

button{
    margin: 6px auto;
}

.btn_login {
    width: 300px; height: 50px;
    border-radius: 3px;
    border: 0;
}
.main_btn_login{
    width: 300px;
    height: 50px;
    border-radius: 3px;
    border: 0;
    cursor: pointer;
}
.btn_Pw_change{
    width: 300px;
    height: 50px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    background: #93A6BF;
    color: #fff;
}
.kakao_btn_login{
    background-color: yellow;
}
input::placeholder{
    padding: 6px;
}
.button:hover {
    background: #5D84A6;
    font-weight: 600;
    transition: 0.2s  ease-in-out;
}