a {
    text-decoration: none;
}

.myInfo_container {
    width: 60%;
    height: 60vh;
    margin: 10% auto;
    text-align: justify;
}

.top {
    padding-left: 10px;
    border-left: 4px solid #4F5945;
    margin: 0 0 20px;
    font-size: 20px;
}

.info_wrap {
    min-width: 350px;
    width: 80%;
    height: 240px;
    border: 1px solid #ccc;
    margin: 0 auto;
    border-radius: 3px;
    padding: 16px 30px;
}

.info {
    margin: 15px 0;
    display: flex;
}

.info_notice {
    font-size: 12px;
    color: #777;
}

.user_info {
    width: 120px;
    margin-right: 24px;
    font-size: 14px;
    line-height: 28px;
}

.info_2 {
    height: 210px;
}

.info_2 .info_notice {
    margin-bottom: 20px;
}

.info_2 p:first-child {
    line-height: 16px;
}


.info_2 p:last-child {
    line-height: 28px;
}


.info_pw .pw_val {
    display: block;
    font-size: 10px;
}
.buttons {
    width: 80%;
    height: 30px;
    margin: 10px auto 0;
    display:flex;
    justify-content: space-evenly;
}

.button {
    display: block;
    width: 120px;
    height: 30px;
    float: right;
    background: #93A6BF;
    color: #fff;
    border: none;
    border-radius: 3px;
    /* margin: 12px 10px 0 10px; */
    cursor: pointer;
}

.button:hover {
    background: #5D84A6;
    font-weight: 600;
    transition: 0.2s  ease-in-out;
}

.button:not(hover) {
    transition: 0.2s  ease-in-out;
}

input {
    height: 24px;
    min-width: 170px;
    width: 60%;
    padding-left: 8px;
}

input:focus {
    outline: none;
}

.buttons_pw {
    margin-top: 52px;
}

.btn {
    border: none;
    background: none;
    float: right;
    cursor: pointer;
    color: #777;
}

.btn:hover{
    text-decoration: underline;
}


@media screen and (max-width: 767px) {
    .myInfo_container {
        width: 95%;
    }
    .top {
        font-size: 1rem;
    }
    .info_wrap {
        width: 90%;
        min-width: unset;
        height: 330px;
        padding: 16px;
    }
    .info {
        display: block;
    }
    .info_pw {
        margin: 40px 0;
    }
    .info1 {
        width: 100%;
    }
    input {
        min-width: unset;
        width: 90%;
    }
    .buttons {
        margin: 10px auto;
    }
    .button {
        width: 180px;
        height: 30px; 
        font-size: 1rem;
    }
    .btn {
        font-size: 0.8rem;
    }
}