a{
text-decoration: none;
}

.wrapper {
    width: 80%;
    height: 60%;
    margin: 4% auto;
    text-align: center;
}

h1  {
    text-align:center;
}
.pw_change_container{
    text-align:center;
}
input {   
    display: block;
    margin: 20px auto;
    width: 300px;
    height: 50px;
}
.main_btn_pw_change{
    width: 300px;
    height: 50px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    background: #93A6BF;
    color: #fff;
}
input::placeholder{
    padding: 6px;
}
